<div class="card" style="width: 18rem;">
  <div class="card-body">
    <p class="card-text">Page brouillon destinée aux exercices</p>
  </div>
</div>
<!--<br>
<form #f=ngForm (ngSubmit)="rechParForm(f.value)">
  ID de la ville : <input type="text" ngModel name="numero">
</form><br>

<ng-template [ngIf]="ville" [ngIfElse]="inconnu">
  Ville : {{ville.nom}}
</ng-template>
<ng-template #inconnu>
  <div>Ville inconnue</div>
</ng-template>

<br>
<form #a=ngForm (ngSubmit)="rechercheParNom(a.value)">
  Recherche par nom : <input type="text" ngModel name="nom">
</form><br>

<ng-template [ngIf]="villestrouv">
  <ng-template [ngIf]="villestrouv.length>0" [ngIfElse]="inconnu">
    <ul>
      <li *ngFor="let vi of villestrouv">
        (ID:{{vi.idville}}) {{vi.nom}} {{vi.pays}} ({{vi.latitude}} {{vi.longitude}})
        <button (click)="effacer(vi)">Effacer</button>
      </li>
    </ul>
  </ng-template>
  <ng-template #inconnu>
    <div>inconnu</div>
  </ng-template>
</ng-template>

<br>
<form #f2=ngForm (ngSubmit)="rechercheParID(f2.value)">
  idville recherché :  <input type="text" ngModel name="idville">
</form>
<br>
<div class="container">
  <form [formGroup]="villeFormGroup" *ngIf="villeFormGroup">
    <div class="form-group">
      <label>Nom</label>
      <input type="text" formControlName="nom" class="form-control"
             [ngClass]="{'is-invalid':submitted && villeFormGroup.controls.nom.errors, 'is-valid':submitted && !villeFormGroup.controls.nom.errors}">
      <div class="invalid-feedback" *ngIf="submitted && villeFormGroup.controls.nom.errors">
        <div *ngIf="villeFormGroup.controls.nom.errors.required">
          Nom obligatoire
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Latitude</label>
      <input type="text" formControlName="latitude" class="form-control"
             [ngClass]="{'is-invalid':submitted && villeFormGroup.controls.latitude.errors, 'is-valid':submitted && !villeFormGroup.controls.latitude.errors }">
      <div class="invalid-feedback" *ngIf="submitted && villeFormGroup.controls.latitude.errors">
        <div *ngIf="villeFormGroup.controls.latitude.errors.required">
          Latitude obligatoire
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Longitude</label>
      <input type="text" formControlName="longitude" class="form-control"
             [ngClass]="{'is-invalid':submitted && villeFormGroup.controls.longitude.errors, 'is-valid':submitted && !villeFormGroup.controls.longitude.errors }">
      <div class="invalid-feedback" *ngIf="submitted && villeFormGroup.controls.longitude.errors">
        <div *ngIf="villeFormGroup.controls.longitude.errors.required">
          Longitude obligatoire
        </div>
      </div>
    </div>
    <label>Pays</label>
    <input type="text" formControlName="pays" class="form-control"
           [ngClass]="{'is-invalid':submitted && villeFormGroup.controls.pays.errors, 'is-valid':submitted && !villeFormGroup.controls.pays.errors }">
    <div class="invalid-feedback" *ngIf="submitted && villeFormGroup.controls.pays.errors">
      <div *ngIf="villeFormGroup.controls.pays.errors.required">
        Pays obligatoire
      </div>
    </div>
    <br>
    <button (click)="majVille()">Valider</button>
  </form>
</div> -->

<!--<br>
<form #f3=ngForm (ngSubmit)="rechercheEtapeParID(f3.value)">
  id recherché :  <input type="text" ngModel name="idetape">
</form>

<div class = container>
  <div *ngIf="etapeFormGroup">
    <form [formGroup]="etapeFormGroup">
      <div class="form-group">
        <label>Numéro</label>
        <input type="text" formControlName="numero" class="form-control" [ngClass]="{'is-invalid':submitted && etapeFormGroup.controls.numero.errors,'is-valid':submitted && !etapeFormGroup.controls.numero.errors}">
        <div class="invalid-feedback" *ngIf="submitted && etapeFormGroup.controls.numero.errors">
          <div *ngIf="etapeFormGroup.controls.numero.errors.required">
            Numéro obligatoire
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Description</label>
        <input type="text" formControlName="description" class="form-control" [ngClass]="{'is-invalid':submitted && etapeFormGroup.controls.description.errors,'is-valid':submitted && !etapeFormGroup.controls.description.errors}">
        <div class="invalid-feedback" *ngIf="submitted && etapeFormGroup.controls.description.errors">
          <div *ngIf="etapeFormGroup.controls.description.errors.required">
            Description obligatoire
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Date étape</label>
        <input type="text" formControlName="dateetape" class="form-control" [ngClass]="{'is-invalid':submitted && etapeFormGroup.controls.dateetape.errors,'is-valid':submitted && !etapeFormGroup.controls.dateetape.errors}">
        <div class="invalid-feedback" *ngIf="submitted && etapeFormGroup.controls.dateetape.errors">
          <div *ngIf="etapeFormGroup.controls.dateetape.errors.required">
            Date étape obligatoire
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Kilométrage</label>
        <input type="text" formControlName="km" class="form-control" [ngClass]="{'is-invalid':submitted && etapeFormGroup.controls.km.errors,'is-valid':submitted && !etapeFormGroup.controls.km.errors}">
        <div class="invalid-feedback" *ngIf="submitted && etapeFormGroup.controls.km.errors">
          <div *ngIf="etapeFormGroup.controls.km.errors.required">
            Km obligatoire
          </div>
        </div>
      </div>
    </form>
  </div>
</div>-->
