<div class="container" *ngIf="deleted == false">
  <form [formGroup]="etapeFormGroup" *ngIf="etapeFormGroup">
    <div class="form-group" class="form-floating mb-3">
      <input id="floatingId" placeholder="ID étape" type="text" class="form-control" formControlName="idetape" readonly>
      <label for="floatingId">ID de l'étape</label>
    </div>
    <div class="form-group" class="form-floating mb-3">
      <input id="floatingNumero" placeholder="Numéro" type="text" class="form-control" formControlName="numero"
             [ngClass]="{'is-invalid': submitted && etapeFormGroup.controls.numero.errors}">
      <label for="floatingNumero">Numéro</label>
      <div *ngIf="submitted && etapeFormGroup.controls.numero.errors" class="invalid-feedback">
        <div *ngIf="etapeFormGroup.controls.numero.errors.required">
          Numéro de l'étape obligatoire
        </div>
      </div>
    </div>
    <div class="form-group" class="form-floating mb-3">
      <input id="floatingDescription" placeholder="Description" type="text" class="form-control"
             formControlName="description"
             [ngClass]="{'is-invalid': submitted && etapeFormGroup.controls.description.errors}">
      <label for="floatingDate">Description</label>
      <div *ngIf="submitted && etapeFormGroup.controls.description.errors" class="invalid-feedback">
        <div *ngIf="etapeFormGroup.controls.description.errors.required">
          Description obligatoire
        </div>
      </div>
    </div>
    <div class="form-group" class="form-floating mb-3">
      <input id="floatingDate" placeholder="Date de l'étape" type="date" class="form-control"
             formControlName="dateetape"
             [ngClass]="{'is-invalid': submitted && etapeFormGroup.controls.dateetape.errors}">
      <label for="floatingDate">Date de l'étape</label>
      <div *ngIf="submitted && etapeFormGroup.controls.dateetape.errors" class="invalid-feedback">
        <div *ngIf="etapeFormGroup.controls.dateetape.errors.required">
          Date de l'étape obligatoire
        </div>
      </div>
    </div>
    <div class="form-group" class="form-floating mb-3">
      <input id="floatingKm" placeholder="Kilométrage" type="text" class="form-control" formControlName="km"
             [ngClass]="{'is-invalid': submitted && etapeFormGroup.controls.km.errors}">
      <label for="floatingKm">Kilométrage</label>
      <div *ngIf="submitted &&etapeFormGroup.controls.km.errors" class="invalid-feedback">
        <div *ngIf="etapeFormGroup.controls.km.errors.required">
          Kilométrage obligatoire
        </div>
      </div>
    </div>

    <div class="form-group" class="form-floating mb-3">
      <input id="floatingVilleDep" placeholder="Ville de départ" type="text" class="form-control"
             formControlName="villedepart" readonly
             [ngClass]="{'is-invalid': submitted && etapeFormGroup.controls.villedepart.errors}">
      <label for="floatingVilleDep">Ville de départ</label>
      <div *ngIf="submitted && etapeFormGroup.controls.villedepart.errors" class="invalid-feedback">
        <div *ngIf="etapeFormGroup.controls.villedepart.errors.required">
          Ville de départ obligatoire
        </div>
      </div>
    </div>


    <div class="form-group" class="form-floating mb-3">
      <input id="floatingVilleArr" placeholder="Ville d'arrivée" type="text" class="form-control"
             formControlName="villearrivee" readonly
             [ngClass]="{'is-invalid': submitted && etapeFormGroup.controls.villearrivee.errors}">
      <label for="floatingVilleArr">Ville d'arrivée</label>
      <div *ngIf="submitted && etapeFormGroup.controls.villearrivee.errors" class="invalid-feedback">
        <div *ngIf="etapeFormGroup.controls.villearrivee.errors.required">
          Ville d'arrivée obligatoire
        </div>
      </div>
    </div>

    <nav class="navbar navbar-expand-sm bg-light navbar-light">
      <ul class="navbar navbar-nav">
        <li class="nav-item" class="buttons">
          <button (click)="onUpdateEtape()" class="btn btn-success">
            Sauvegarder
          </button>
        </li>
        <li class="nav-item" class="buttons">
          <button (click)="onDeleteEtape()" class="btn btn-success">
            Supprimer
          </button>
        </li>
      </ul>
    </nav>
  </form>
</div>
