<div class="body">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <p class="card-text">Bienvenue sur la page home du projet 2-3</p>
    </div>
  </div>
  <footer class="gauche"> © Gauthier Rigaux</footer>
  <footer class="droite">Projet d'Application informatique 3</footer>

  <img src="../../../assets/paysageurbain.jpg" class="rounded mx-auto d-block image">


  <div class="container text-center" class="card-cities">
    Ce projet est un site qui met en lien des étapes qui contiennent chacune une ville d'arrivée, une ville de départ
    ainsi que des informations
    relatives.<br> A l'affichage complet des villes, il est possible de créer une étape avec comme ville de départ la ville
    sélectionnée au prélable.
    Celle d'arrivée vous sera proposée grâce à une liste contenant les villes disponibles en base de données. La
    création, modification, suppression des deux classes fonctionnent.
    <br>
  </div>
  <!--<div class="schema">
    <div class="content">
  <img src="../../../assets/city.bmp" class="icon" title="Ville de départ">
    <p class="villedepart">ville de départ</p>
    </div>
  <img src="../../../assets/fleche.bmp" class="icon">
    <div class="content">
  <img src="../../../assets/etape.bmp" class="icon" title="Etape">
    <p class="villedepart">étape numérotée</p>
    </div>
    <img src="../../../assets/fleche.bmp" class="icon">
    <div class="content">
  <img src="../../../assets/city.bmp" class="icon" title="Ville d'arrivée">
    <p class="villedepart">ville d'arrivée</p>
    </div>
  </div>-->
  <div class="schema">
      <img src="../../../assets/city.bmp" class="icon" title="Ville de départ">
    <img src="../../../assets/fleche.bmp" class="icon">
      <img src="../../../assets/etape.bmp" class="icon" title="Etape">
    <img src="../../../assets/fleche.bmp" class="icon">
      <img src="../../../assets/city.bmp" class="icon" title="Ville d'arrivée">
  </div>
</div>

